# Ignorer les fichiers de build
target

# Ignorer les fichiers de dépendances
.m2

# Ignorer les fichiers de configuration de l'éditeur
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers environnementaux
.env
